<launch>
 <node name="motor_left" pkg="phidgets" type="motor">
        <param name="serial" type="int" value="473030" />

        <remap from="/motorcontrol/cmd_vel" to="/motorcontrol/cmd_vel_left"  />
        <remap from="/motorcontrol/encoder" to ="/motorcontrol/encoder_left" />

    </node>
    <node name="motor_right" pkg="phidgets" type="motor" >
        <param name="serial" type="int" value="470088" />
        <remap from="/motorcontrol/cmd_vel" to="/motorcontrol/cmd_vel_right" />
        <remap from="/motorcontrol/encoder" to ="/motorcontrol/encoder_right" />
    </node>
    

    <node name="motor_controller" pkg="ras_lab1_motor_controller" type="motor_controller" output="screen">
    </node>
    
    <!--<node name="line_cartesian" pkg="ras_lab1_cartesian_controllers" type="line_cartesian_controller" output="screen">
        <param name="linear_speed" type="double" value="0.2" />
        <param name="angular_speed" type="double" value="0.0" />
    </node>-->
    
    <param name="encoder_res" type="double" value="900.0" />
    <param name="kp_left" type="double" value="0.3" />
    <param name="ki_left" type="double" value="0.05" />
    <param name="kp_right" type="double" value="0.3" />
    <param name="ki_right" type="double" value="0.05" />
    <param name="feedforward" type="double" value="3" />
    <param name="frequency" type="int" value="30" />
</launch>
